In [1]:
import pandas as pd

In [3]:
# Load the financial data
df = pd.read_csv(r'C:\Users\dadwa\OneDrive\Documents\financial_data.csv')
df.head()

,Unnamed: 0,Company,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Operating Cash Flow
0,0,Microsoft,2022,198.3,72.70,364.80,191.80,89.035
1,1,Microsoft,2023,211.9,72.36,411.60,198.30,87.582
2,2,Microsoft,2024,245.1,88.14,512.16,243.69,118.548
3,3,Apple,2022,394.0,99.80,352.80,302.10,122.151
4,4,Apple,2023,383.0,96.90,352.60,290.60,110.543

In [5]:
def ask_chatbot():
    print("Welcome to the Financial Inquiry Chatbot!")
    print("You can ask questions like:")
    print("- What was the revenue of Microsoft in 2022?")
    print("- What is the net income of Apple in 2023?")
    print("Type 'exit' to quit.\n")

    while True:
        user_input = input("You: ").lower()
        if user_input == 'exit':
            print("Goodbye!")
            break

        for _, row in df.iterrows():
            company = row['Company'].lower()
            year = str(row['Fiscal Year'])
            if company in user_input and year in user_input:
                if "revenue" in user_input:
                    print(f"Bot: Total Revenue for {row['Company']} in {year} was {row['Total Revenue']} billion USD.")
                elif "net income" in user_input:
                    print(f"Bot: Net Income for {row['Company']} in {year} was {row['Net Income']} billion USD.")
                elif "assets" in user_input:
                    print(f"Bot: Total Assets for {row['Company']} in {year} were {row['Total Assets']} billion USD.")
                elif "liabilities" in user_input:
                    print(f"Bot: Total Liabilities for {row['Company']} in {year} were {row['Total Liabilities']} billion USD.")
                elif "cash flow" in user_input:
                    print(f"Bot: Operating Cash Flow for {row['Company']} in {year} was {row['Operating Cash Flow']} billion USD.")
                break
        else:
            print("Bot: Sorry, I couldn't find an answer to that. Try asking in a different way.")

In [ ]:
# Run the chatbot
ask_chatbot()

Welcome to the Financial Inquiry Chatbot!
You can ask questions like:
- What was the revenue of Microsoft in 2022?
- What is the net income of Apple in 2023?
Type 'exit' to quit.

You:  What was the revenue of Tesla in 2023?

Bot: Total Revenue for Tesla in 2023 was 96.77 billion USD.

You:  What was the net income of Microsoft in 2024?

Bot: Net Income for Microsoft in 2024 was 88.14 billion USD.